.task-card{
  transition: 0.3s;
  cursor: pointer;
}

.task-card:hover{
  transform: translateY(-5px);
}


.search-input::placeholder{
  color:#94a3b8 !important;
}


@keyframes modalFade {
  from {
    opacity: 0;
    transform: translateY(-40px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.customer-modal {
  animation: modalFade 0.35s ease;
}



@keyframes premiumModal {
  from{
    opacity:0;
    transform:translateY(-50px) scale(0.9);
  }

  to{
    opacity:1;
    transform:translateY(0) scale(1);
  }
}

.premium-modal{
  animation:premiumModal 0.35s ease;
}

.custom-file::file-selector-button{
  background: #1e293b !important;
  color: white !important;
  border: 1px solid #475569 !important;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 12px;
}